.hotel-desc {
	position: relative;
	background-color: #FFF;
	padding-top: 125px;
	padding-bottom: 57px;
}

.hotel-desc-heading {
	font-family: 'Proxima Nova Lt';
	width: 670px;
	margin: 0 auto;
	margin-bottom: 40px;
	text-align: center;
}

.hotel-desc-heading__title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 30px;
	color: #333333;
	letter-spacing: 1.5px;
}

.hotel-desc-heading__subtitle {
	margin: 0;
	font-size: 18px;
	color: #cccccc;
	letter-spacing: 0.9px;
}
